@charset "UTF-8";
/* line 2, ../src/redis-node.scss */
#github {
  left: -65px;
  height: 30px;
  top: 40px;
  position: absolute;
  text-decoration: none;
  width: 250px;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 10, ../src/redis-node.scss */
#github span {
  background: black;
  color: white;
  font-size: 14px;
  left: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 250px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 21, ../src/redis-node.scss */
#github span:last-child {
  background: red;
  opacity: 0;
}
/* line 27, ../src/redis-node.scss */
#github span:hover:first-child {
  opacity: 0;
}
/* line 30, ../src/redis-node.scss */
#github span:hover:last-child {
  opacity: 1;
}

@media all and (-webkit-transform-3d) {
  /* line 38, ../src/redis-node.scss */
  #github span {
    opacity: 1 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
  }
  /* line 42, ../src/redis-node.scss */
  #github span:last-child {
    -webkit-transform: rotateX(180deg);
  }
  /* line 47, ../src/redis-node.scss */
  #github:hover span:first-child {
    -webkit-transform: rotateX(180deg);
  }
  /* line 50, ../src/redis-node.scss */
  #github:hover span:last-child {
    -webkit-transform: rotateX(360deg);
  }
}
